**/.vscode/
**/mnt/

# Python
**/__pycache__
**/*.lock
**/.env/
**/.venv/
**/.ipynb_checkpoints
**/*.pytest*
**/tests/**/out

# JS/TS
**/node_modules/
**/yarn.lock

# Secrets
**/*secret*
!**/*secret.example*

# Temp files
**/~*.docx
**/~*.xlsx
**/tmp
**/*.tmp
