# Values for Traefik chart
# Install using:
#
# helm upgrade -i traefik oci://ghcr.io/traefik/helm/traefik -f Infrastructure/traefik.yaml

service:
  type: NodePort
providers:
  # Disable the Ingress provider (optional)
  # We do not want to use Ingress objects anymore!
  kubernetesIngress:
    enabled: false
  # Enable the GatewayAPI provider
  kubernetesGateway:
    enabled: true
# Allow the Gateway to expose HTTPRoute from all namespaces
gateway:
  namespacePolicy: All
# Include routing rule for the dashboard.
ingressRoute:
  dashboard:
    enabled: true
ports:
  # Fix the port numbers below so that our kind.yaml config file can forward them automatically.
  # This eliminates the need to type "kubectl port-forward".
  web:
    nodePort: 30000
  traefik:
    expose:
      # Expose the dashboard port.  Normally, "kubectl port-forward" is required.
      default: true
    nodePort: 30001
  websecure:
    nodePort: 30002